[submodule ".registry"]
	path = .registry
	url = https://github.com/nebili/nebili.r-universe.dev
	branch = HEAD
[submodule "seurust"]
	path = seurust
	url = https://github.com/NebilI/seurust
	branch = v0.1.2
	subdir = seurust
